.env
testing.ipynb
visualizations.ipynb
model_testing.ipynb
thoughts.txt
dataObjects.txt
sportradar-wisd_accessKeys.csv
sportradar-wisd-data-access-instructions.txt
data/games/
data/metadata/
data/transition/